@import "../theme";

.dfooter {
  height: 76px;
  background-color: $base-footer-bgcolor;
  padding: 0 $base-section-padding;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(0,0,0, .2);
}

.dfooter-nav {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.fengche {
  width: 32px;
  height: 32px;
  animation: fengche-rotate 0.8s linear 0s infinite;
}

@keyframes fengche-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  margin-right: 24px;
}

a {
  color: $base-footer-color;
  text-decoration: none;
}

.copyright {
  color: $base-footer-color;
}
