.dpoint {
  padding: 0 64px;
  height: 100%;
  color: #606266;
  font-size: 16px;
}

.dpoint-menu {
  height: 100%;
}

.dpoint-content {
  background-color: #FFF;
  padding: 32px 0;
}

.dpoint-book > h3 {
  margin-top: 28px;
}

.dpoint-book > p {
  margin-top: 12px;
  line-height: 1.6;
  text-indent: 2em;
}
