.dpointmain-row {
  margin-bottom: 16px;
}

h2 {
  margin-top: 24px;
}

h3 {
  margin-top: 16px;
}

.dpointmain-p {
  margin-top: 16px;
  line-height: 1.6;
  text-indent: 2em;
}

.dpoint-table {
  margin-top: 32px;
}

.dpoint-table-cell {
  text-align: center;
}
