@import "../../theme";
.dexercise {
  padding: $base-section-padding / 2 $base-section-padding;
}

.el-row {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.image {
  width: 100%;
  display: block;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.button {
  padding: 0;
  float: right;
}

span.title {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.col-content {
  margin-bottom: 24px;
  font-size: 14px;
  color: #444444;
}

.text {
  height: 76px;
}

.pagination {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.dexercise-title {
  display: inline-block;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.custom-container {
  position: relative;
}

i.add-exercise {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #409EFF;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 12px 0px;
  z-index: 2;
}

i.add-exercise:hover {
  transform: scale(1.1);
  transition: transform .2s;
}

.input-label {
  margin-bottom: 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.stars-input {
  margin-right: 12px;
}

.file-upload {
  position: absolute;
  visibility: hidden;
}

.dexercise-item {
  background-color: #FFF;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  height: 64px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: #606266;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 12px;
}

.dexercise-item > span {
  line-height: 64px;
  text-align: center;
  color: #FFF;
  font-size: 24px;
  display: inline-block;
  width: 64px;
  background-color: #409EFF;
  height: 100%;
  position: relative;
}

.dexercise-item > span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 32px solid;
  border-color: transparent transparent transparent #409EFF;
  left: 100%;
  top: 0px;
}

.dexercise-item-content {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  flex: 1 1 0px;
  padding-left: 84px;
}

.dexercise-item-content > span {
  font-size: 18px;
  color: #409EFF;
  margin-bottom: 4px;
}

.dexercise-item-content > p {
  font-size: 14px;
  color: #909399;
}

.dexercise-item-start {
  width: 64px;
  background-color: #409EFF;
  color: #FFF;
  height: 100%;
  text-align: center;
  font-size: 18px;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
}

.dexercise-item-stars {
  margin-right: 84px;
}