.usercenter {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.avatar {
  border: 4px solid #409EFF;
  width: 128px;
  height: 128px;
  border-radius: 100%;
  transform: rotate(0deg);
  transition: transform .4s;
  cursor: pointer;
}

.avatar:hover {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, .4);
  position: relative;
  z-index: 100;
  transform: rotate(369deg);
  transition: all .4s;
}

.nickname {
  margin-top: 32px;
}

.email {
  margin-top: 4px;
}

.nickname, .email {
  display: block;
  color: #444444;
}

.date {
  display: block;
  margin-top: 24px;
  color: #909399;
}

.basic-info, .msg-info {
  min-height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.basic-info {
  width: 20%;
  padding: 24px;
  background-color: #FFFFFF;
  margin: 48px 24px;
  border-radius: 6px;
  box-shadow: 0 0 12px 0px rgba(0, 0, 0, .2);
}

.msg-info {
  padding: 24px;
  width: 80%;
  display: flex;
  flex-flow: column;
  color: #606266;
  justify-content: flex-start;
  align-items: flex-start;
}

.tooltips {
  color: #606266;
}

.msg {
  margin: 24px;
  width: 100%;
}

.msg a {
  background-color: #FFFFFF;
  height: 48px;
  line-height: 48px;
  width: 80%;
  display: block;
  padding: 0px 16px;
  color: #606266;
  box-shadow: 0 0 12px 0px rgba(0, 0, 0, .2);
  text-decoration: none;
}

.msg a:hover {
  color: #409EFF;
  transition: color .2s;
}
