@import "../theme";
.dheader {
  height: 72px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #FFFFFF;
  padding: 0 24px;
  border-bottom: 1px solid rgba(0,0,0, .2);
  position: relative;
}

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: $base-color;
  cursor: pointer;
}

header > img {
  width: 38px;
  max-width: 38px;
}

header > h1 {
  font-size: 24px;
  margin-left: 6px;
}

section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.dheader-menulist {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: 46px;
}

li {
  font-size: 16px;
  color: #444444;
  margin-right: 42px;
  cursor: pointer;
}

li:hover, li.active {
  color: $base-color;
  transition: color .2s;
}

.dheader-enter, .dheader-userinfo {
  color: #444444;
  position: absolute;
  right: 36px;
  cursor: pointer;
}

.dheader-userinfo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.dheader-userinfo img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  margin-right: 8px;
  border: 1px solid #909399;
}

.dheader-userinfo img:hover {
  border-color: #409EFF;
  transition: all .2s;
}

.dheader-enter > span:not(:last-of-type)::after {
  content: "/";
  margin: 0 16px;
  color: $base-default-color;
}

.dheader-enter > span:hover {
  color: $base-color;
  transition: color .2s;
}



