@import "../theme";


.dsearch {
  position: relative;
}
input {
  outline: none;
  border: none;
  color: #444444;
  width: 297px;
  min-width: 160px;
  border-bottom: 1px solid $base-border-color;
  padding: 8px 24px 8px 8px;
}

input:focus {
  border-bottom-color: $base-color;
  transition: all .2s;
}

input:focus ~ .dsearch-icon {
  color: $base-color;
  transition: color .2s;
}

.dsearch-icon {
  color: #dcdcdc;
  position: absolute;
  right: 4px;
  bottom: 9px;
}
