.form-container {
  padding: 16px;
}

.login-button, .register-button {
  width: 100%;
  display: block;
  height: 36px;
  text-align: center;
  line-height: 36px;
  background-color: #409EFF;
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
}

.pass-container {
  margin-bottom: 0px;
}

.forget-pass {
  cursor: pointer;
  color: #909399;
  float: right;
}

.forget-pass:hover {
  color: #409EFF;
  transition: color .2s;
}

